<div class="heading">
<h1>Saved Articles</h1>
 <p class="sub-text">Click on a headline to read the full article, save articles for later, or leave a note on an article.</p>
        <hr>
</div>

<div class="savedStory">
    {{#each stories}}
        <div class="data" dataTitle="{{title}}" dataLink="{{url}}" dataAuthor="{{author}}" dataContent="{{content}}" dataImg="{{img}}">

        <h2><a href="{{url}}">{{title}}</a></h2>
        
        <p>{{content}}</p>

        {{#if author}}
            <h4>{{author}}</h4>
        {{else}}
            <h4>No author</h4>
        {{/if}}

        {{#if img}}
            <img src="{{img}}" alt="story">
        {{else}}
            <img src="http://placehold.it/150" alt="no preview">
        {{/if}}

     </div>   
    {{/each}}
</div>